# ==========================================================
# DEVELOPMENT CONFIG (NOT REQUIRED CHANGES)
# ==========================================================

# ===============================
# NGO SERVICE
# ===============================
PORT_NGO_SERVICE=8081
POSTGRES_USER_NGO_DB=ngo_user
POSTGRES_PASSWORD_NGO_DB=ngo_password
POSTGRES_DB_NGO_DB=ngo_db

# ===============================
# DONATION SERVICE (Hot Path)
# ===============================
PORT_DONATION_SERVICE=8082
POSTGRES_USER_DONATION_DB=donation_user
POSTGRES_PASSWORD_DONATION_DB=donation_password
POSTGRES_DB_DONATION_DB=donation_db

# ===============================
# VOLUNTEER SERVICE
# ===============================
PORT_VOLUNTEER_SERVICE=8083

# ===============================
# AWS (LOCALSTACK - DEV ONLY)
# ===============================
AWS_REGION=us-east-1
AWS_SQS_URL=http://localstack:4566/queue/us-east-1/000000000000/solidary-donations
AWS_DYNAMODB_TABLE=SolidaryTechVolunteers
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localstack:4566
AWS_SESSION_TOKEN=test
