Flask==2.2.2
Werkzeug==2.2.2
gunicorn==20.1.0
python-dotenv==1.2.2
boto3==1.26.50
# OpenTelemetry
opentelemetry-distro==0.46b0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation-flask==0.46b0
